!!!

%html
  %head
    - title = defined?(@title) ? @title : "The tiny debugging library for Ruby"
    - description = defined?(@description) ? @description : "Letters brings Ruby debugging into the 21st century. It leverages print, the debugger, control transfer, even computer beeps to let you see into your code's state."

    %title= "Letters: #{title}" 
    %meta(charset="UTF-8")/
    %meta(http-equiv="Content-Type" content="text/html;charset=UTF-8")/
    %meta(name="description" content=description)/
    %meta(property="og:title" content="Letters: #{title}")/
    -# %meta(property="og:image" content=image)/
    -# %link(rel='icon' type='image/png' href='/images/logo-thumb.png')/

    %link(rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.7.1/build/cssreset/cssreset-min.css")/
    %link(rel="stylesheet" type="text/css" href="stylesheets/sh/themes/shCoreRDark.css")/

    = css :application

    %link(rel="stylesheet" type="text/css" href="stylesheets/fancybox/jquery.fancybox-buttons.css")/
    %link(rel="stylesheet" type="text/css" href="stylesheets/fancybox/jquery.fancybox-thumbs.css")/
    %link(rel="stylesheet" type="text/css" href="stylesheets/fancybox/jquery.fancybox.css")/

    %link(href="http://fonts.googleapis.com/css?family=Headland+One|Skranji:400,700" rel="stylesheet" type="text/css")/

    %script(src="javascripts/jquery.js" type="application/javascript")
    %script(src="javascripts/application.js" type="application/javascript")
    %script(src="javascripts/sh/shCore.js" type="application/javascript")
    %script(src="javascripts/sh/shBrushRuby.js" type="application/javascript")
    %script(src="javascripts/sh/shBrushPlain.js" type="application/javascript")
    %script(src="javascripts/lettering.js" type="application/javascript")
    %script(src="javascripts/fancybox/jquery.fancybox.js" type="application/javascript")
    %script(src="javascripts/fancybox/helpers/jquery.fancybox-buttons.js" type="application/javascript")
    %script(src="javascripts/fancybox/helpers/jquery.fancybox-media.js" type="application/javascript")
    %script(src="javascripts/fancybox/helpers/jquery.fancybox-thumbs.js" type="application/javascript")

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35074293-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body
    %a(href="https://github.com/davejacobs/letters")
      %img(style="position: absolute; top: 0; right: 0; border: 0;" src="images/forkme.png" alt="Fork me on GitHub")

    .wrapper
      .header
        %a(href="/")
          .title
            %h1 Letters
            %h2 A tiny debugging library for Ruby

        .navigation
          %ul
            %li
              %a(href="/") Overview
            %li
              %a(href="/api") The API
            %li
              %a(href="/resources") Resources

      .outer-content
        .content= yield

      .footer
        &copy;2016
        %a(href="https://wit.io")> David Jacobs
        , author and maintainer
